.event {
 background: -webkit-linear-gradient(#e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
 background: -o-linear-gradient(#e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
 background: linear-gradient(#e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
 color: black; 
 padding: 5px;
 box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.75);
 border: black 1px solid;
}